<mat-card>
    <mat-card-title>Alterar Imagem</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Imagem" [(ngModel)]="imagem.nomeImagem" name="name" autocomplete="off">
        </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="Texto" [(ngModel)]="imagem.texto" name="texto" autocomplete="off">
        </mat-form-field>


    </form>
    <table>
        <tr>
            <mat-label>Assunto</mat-label>
            <select type="string" [(ngModel)]="imagem.assunto_idAssunto">
            <option *ngFor="let assun of assuntos" value={{assun.nomeAssunto}} >
          {{assun.nomeAssunto}}
        </option>
    </select>
        </tr>
    </table>
    <button mat-raised-button color="primary" (click)="alterarImagem()">
        Salvar
        </button>


    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>

</mat-card>