table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit>i {
    color: #3826d9;
}

.delete>i {
    color: #fc2e42;
}

button {
    margin: 40px 15px 20px 20px;
    object-position: inline;
}